{{!--
This footer template is shared across all the pages.
--}}
<footer class="m-footer">
  <div class="m-footer__content">
    {{!-- {{#if @site.secondary_navigation}}
      <nav class="m-footer__nav-secondary" role="navigation" aria-label="{{t "Secondary menu in footer"}}">
        {{navigation type="secondary"}}
      </nav>
    {{/if}} --}}
     <div class="m-footer__logo">
      <img src={{asset "images/assembly-logo.svg"}}>
    </div>
    <nav class="m-footer-social">
      {{#if @custom.website_page}}
        <a href={{ @custom.website_page }} target='_blank' rel='noopener' aria-label='Website'>
          <span class='icon-globe' aria-hidden='true'></span>
        </a>
      {{/if}}
      {{#if @custom.twitter_page}}
        <a href={{ @custom.twitter_page }} target='_blank' rel='noopener' aria-label='Twitter'>
            <span class='icon-twitter' aria-hidden='true'></span>
        </a>
      {{/if}}
      {{#if @custom.discord_page}}
        <a href={{ @custom.discord_page }} target='_blank' rel='noopener' aria-label='Discord'>
            <span class='icon-discord' aria-hidden='true'></span>
        </a>
      {{/if}}
      {{#if @custom.linkedin_page}}
        <a href={{ @custom.linkedin_page }} target='_blank' rel='noopener' aria-label='Linkedin'>
            <span class='icon-linkedin' aria-hidden='true'></span>
        </a>
      {{/if}}
      {{#if @custom.instagram_page}}
        <a href={{ @custom.instagram_page }} target='_blank' rel='noopener' aria-label='Instagram'>
            <span class='icon-instagram' aria-hidden='true'></span>
        </a>
      {{/if}}
      {{#if @custom.youtube_page}}
        <a href={{ @custom.youtube_page }} target='_blank' rel='noopener' aria-label='Youtube'>
            <span class='icon-youtube' aria-hidden='true'></span>
        </a>
      {{/if}}
      {{#if @custom.reddit_page}}
        <a href={{ @custom.reddit_page }} target='_blank' rel='noopener' aria-label='Reddit'>
            <span class='icon-reddit' aria-hidden='true'></span>
        </a>
      {{/if}}
      {{#if @custom.website_page}}
        <a href="{{ @custom.website_page }}/rss" aria-label="RSS">
          <span class="icon-rss" aria-hidden="true"></span>
        </a>
      {{/if}}
      {{#if @custom.facebook_page}}
        <a href={{ @custom.website_page }} target="_blank" rel="noopener" aria-label="Facebook">
          <span class="icon-facebook" aria-hidden="true"></span>
        </a>
      {{/if}}
     </nav>
    <nav class="m-footer-links">
      <a href="/cookie-policy" target="_blank" rel="noopener" aria-label="Website">
        Cookie Policy
      </a>
      <a href="https://assembly.sc/privacy-policy" target="_blank" rel="noopener" aria-label="Website">
        Privacy Policy
      </a>
    </nav>

    {{!-- <p class="m-footer-copyright" id="assemblyLegal"></p>
    <p class="m-footer-copyright" id="assemblyRegisteredAddress"></p> --}}

  </div>
</footer>
