{{!--
This header template is shared across all the pages.
--}}

<header class="m-header {{#if background}}with-picture{{/if}} js-header">
  <div class="m-mobile-topbar" data-aos="fade-down">
    <button class="m-icon-button in-mobile-topbar js-open-menu" aria-label="{{t "Open menu"}}">
      <span class="icon-menu" aria-hidden="true"></span>
    </button>
    <a href="{{@site.url}}" class="m-logo in-mobile-topbar">
      <svg width="274" height="72" viewBox="0 0 274 72" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M53.2247 18.588C45.1232 9.96876 31.8087 9.78298 23.4861 18.1732C15.1635 26.5634 14.9843 40.3522 23.0858 48.9714L28.4119 43.6023C23.1871 38.0099 23.313 29.0897 28.7009 23.6581C34.0888 18.2264 42.7023 18.3362 47.9596 23.8958L53.2247 18.588Z" fill="#00E0CA"/>
        <path d="M17.8442 54.2694C25.9457 62.8885 39.26 63.0741 47.5825 54.684C55.9051 46.2938 56.0844 32.5051 47.983 23.8859L42.6574 29.2547C47.8822 34.8471 47.7563 43.7672 42.3684 49.1989C36.9805 54.6306 28.367 54.5208 23.1097 48.9612L17.8442 54.2694Z" fill="#00E0CA"/>
        <path class="letter" d="M77.2522 44.2281L73.6375 47.7301C76.9881 50.7668 80.7597 52.2851 84.9521 52.2851C88.0386 52.2525 90.5723 51.5504 92.5529 50.179C94.5501 48.8403 95.5652 46.9383 95.5982 44.473C95.5982 42.3669 95.0453 40.6282 93.9394 39.2568C92.751 37.8527 90.8198 37.0527 88.1459 36.8568L83.8875 36.5384C82.6331 36.4078 81.7583 36.1058 81.2631 35.6323C80.7184 35.2079 80.4626 34.7099 80.4956 34.1385C80.4956 33.2405 80.834 32.5059 81.5107 31.9344C82.1544 31.363 83.285 31.0773 84.9026 31.0773C86.3221 31.0773 87.5765 31.2814 88.6659 31.6895C89.7717 32.1467 90.8198 32.7263 91.8102 33.4283L95.004 29.7304C93.7496 28.6529 92.3301 27.7957 90.7456 27.159C89.9203 26.8651 89.0372 26.6366 88.0964 26.4733C87.1556 26.3264 86.091 26.2529 84.9026 26.2529C82.1627 26.2529 79.9014 26.9059 78.1188 28.212C76.2867 29.5181 75.3541 31.4773 75.3211 34.0895C75.3541 36.2609 76.0638 37.9507 77.4503 39.1588C78.8038 40.3996 80.5616 41.118 82.7238 41.3139L87.2794 41.7057C88.2367 41.7384 89.0042 41.9424 89.5819 42.3179C90.1431 42.6771 90.4237 43.3138 90.4237 44.2281C90.4237 45.2567 89.9533 46.0567 89.0125 46.6281C88.0717 47.1995 86.8585 47.4852 85.373 47.4852C82.0554 47.4852 79.3484 46.3995 77.2522 44.2281Z" fill="white"/>
        <path class="letter" d="M99.3257 51.9913H104.5V36.8568C104.5 35.0772 104.987 33.7222 105.961 32.7916C106.918 31.8446 108.14 31.3712 109.625 31.3712C111.111 31.3712 112.324 31.8446 113.265 32.7916C114.222 33.7222 114.701 35.0772 114.701 36.8568V51.9913H119.875V35.0936C119.793 32.1875 118.877 29.9834 117.127 28.4814C115.361 26.9957 113.413 26.2529 111.284 26.2529C108.528 26.2529 106.299 27.257 104.599 29.2651H104.5V16.2857H99.3257V51.9913Z" fill="white"/>
        <path class="letter" d="M125.187 51.9913H130.362V26.5713H125.187V51.9913ZM125.187 21.404H130.362V16.2857H125.187V21.404Z" fill="white"/>
        <path class="letter" d="M135.996 51.9913H141.17V36.8568C141.17 35.0772 141.666 33.7222 142.656 32.7916C143.597 31.8446 144.81 31.3712 146.295 31.3712C147.781 31.3712 149.002 31.8446 149.96 32.7916C150.901 33.7222 151.371 35.0772 151.371 36.8568V51.9913H156.545V36.8568C156.545 35.0772 157.032 33.7222 158.006 32.7916C158.964 31.8446 160.185 31.3712 161.67 31.3712C163.156 31.3712 164.369 31.8446 165.31 32.7916C166.251 33.7222 166.721 35.0772 166.721 36.8568V51.9913H171.896V35.0936C171.83 32.1875 170.922 29.9834 169.172 28.4814C167.406 26.9957 165.458 26.2529 163.329 26.2529C159.946 26.2202 157.247 27.3304 155.233 29.5835C154.342 28.6039 153.36 27.7957 152.287 27.159C151.198 26.5876 149.762 26.2855 147.979 26.2529C145.206 26.2529 142.97 27.257 141.27 29.2651H141.17V26.5713H135.996V51.9913Z" fill="white"/>
        <path class="letter" d="M177.703 51.9913H182.878V36.8568C182.878 35.0772 183.373 33.7222 184.363 32.7916C185.304 31.8446 186.517 31.3712 188.002 31.3712C189.488 31.3712 190.709 31.8446 191.667 32.7916C192.608 33.7222 193.078 35.0772 193.078 36.8568V51.9913H198.252V36.8568C198.252 35.0772 198.739 33.7222 199.713 32.7916C200.671 31.8446 201.892 31.3712 203.377 31.3712C204.863 31.3712 206.076 31.8446 207.017 32.7916C207.958 33.7222 208.428 35.0772 208.428 36.8568V51.9913H213.603V35.0936C213.537 32.1875 212.629 29.9834 210.879 28.4814C209.113 26.9957 207.165 26.2529 205.036 26.2529C201.653 26.2202 198.954 27.3304 196.94 29.5835C196.049 28.6039 195.067 27.7957 193.994 27.159C192.905 26.5876 191.469 26.2855 189.686 26.2529C186.913 26.2529 184.677 27.257 182.977 29.2651H182.878V26.5713H177.703V51.9913Z" fill="white"/>
        <path class="letter" d="M239.043 41.2159V37.0037C239.01 33.6569 237.962 31.0283 235.899 29.1182C233.869 27.2406 231.385 26.2855 228.447 26.2529C227.225 26.2529 225.987 26.4733 224.733 26.9141C223.462 27.3549 222.315 28.0733 221.292 29.0692C220.285 30.0488 219.46 31.3875 218.816 33.0854C218.172 34.7507 217.85 36.8405 217.85 39.3547C217.85 41.9669 218.222 44.0893 218.964 45.722C219.641 47.4199 220.524 48.7423 221.614 49.6893C222.175 50.1464 222.777 50.5301 223.421 50.8403C224.032 51.1994 224.659 51.4851 225.303 51.6974C226.59 52.0892 227.91 52.2851 229.264 52.2851C232.813 52.3178 235.899 50.9464 238.523 48.1709L234.785 45.0118C233.134 46.6607 231.261 47.4852 229.165 47.4852C227.366 47.4852 225.913 46.9464 224.807 45.8689C223.619 44.8077 223.025 43.2567 223.025 41.2159H239.043ZM223.025 37.0037C223.124 35.0283 223.66 33.5344 224.634 32.5222C225.624 31.5589 226.895 31.0773 228.447 31.0773C229.998 31.0773 231.269 31.5589 232.26 32.5222C233.266 33.5344 233.803 35.0283 233.869 37.0037H223.025Z" fill="white"/>
        <path class="letter" d="M242.944 51.9913H248.119V36.6854C248.152 34.8242 248.697 33.4773 249.753 32.6446C250.694 31.7957 251.824 31.3712 253.145 31.3712C254.317 31.3712 255.447 31.7957 256.537 32.6446L260.3 28.212C258.765 26.9386 256.966 26.2855 254.903 26.2529C252.146 26.2529 249.918 27.257 248.218 29.2651H248.119V26.5713H242.944V51.9913Z" fill="white"/>
      </svg>
    </a>
    <button class="m-icon-button in-mobile-topbar js-open-search" aria-label="{{t "Open search"}}">
      <span class="icon-search" aria-hidden="true"></span>
    </button>
  </div>

  <div class="m-menu js-menu">
    <button class="m-icon-button outlined as-close-menu js-close-menu" aria-label="{{t "Close menu"}}">
      <span class="icon-close"></span>
    </button>
    <div class="m-menu__main" data-aos="fade-down">
      <div class="l-wrapper">
        <div class="m-nav js-main-nav">
          <nav class="m-nav__left js-main-nav-left" role="navigation" aria-label="{{t "Main menu"}}">
            <ul>
              <li class="only-desktop">
                <a href="{{@site.url}}" class="m-logo">
                  <svg width="274" height="72" viewBox="0 0 274 72" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M53.2247 18.588C45.1232 9.96876 31.8087 9.78298 23.4861 18.1732C15.1635 26.5634 14.9843 40.3522 23.0858 48.9714L28.4119 43.6023C23.1871 38.0099 23.313 29.0897 28.7009 23.6581C34.0888 18.2264 42.7023 18.3362 47.9596 23.8958L53.2247 18.588Z" fill="#00E0CA"/>
                    <path d="M17.8442 54.2694C25.9457 62.8885 39.26 63.0741 47.5825 54.684C55.9051 46.2938 56.0844 32.5051 47.983 23.8859L42.6574 29.2547C47.8822 34.8471 47.7563 43.7672 42.3684 49.1989C36.9805 54.6306 28.367 54.5208 23.1097 48.9612L17.8442 54.2694Z" fill="#00E0CA"/>
                    <path class="letter" d="M77.2522 44.2281L73.6375 47.7301C76.9881 50.7668 80.7597 52.2851 84.9521 52.2851C88.0386 52.2525 90.5723 51.5504 92.5529 50.179C94.5501 48.8403 95.5652 46.9383 95.5982 44.473C95.5982 42.3669 95.0453 40.6282 93.9394 39.2568C92.751 37.8527 90.8198 37.0527 88.1459 36.8568L83.8875 36.5384C82.6331 36.4078 81.7583 36.1058 81.2631 35.6323C80.7184 35.2079 80.4626 34.7099 80.4956 34.1385C80.4956 33.2405 80.834 32.5059 81.5107 31.9344C82.1544 31.363 83.285 31.0773 84.9026 31.0773C86.3221 31.0773 87.5765 31.2814 88.6659 31.6895C89.7717 32.1467 90.8198 32.7263 91.8102 33.4283L95.004 29.7304C93.7496 28.6529 92.3301 27.7957 90.7456 27.159C89.9203 26.8651 89.0372 26.6366 88.0964 26.4733C87.1556 26.3264 86.091 26.2529 84.9026 26.2529C82.1627 26.2529 79.9014 26.9059 78.1188 28.212C76.2867 29.5181 75.3541 31.4773 75.3211 34.0895C75.3541 36.2609 76.0638 37.9507 77.4503 39.1588C78.8038 40.3996 80.5616 41.118 82.7238 41.3139L87.2794 41.7057C88.2367 41.7384 89.0042 41.9424 89.5819 42.3179C90.1431 42.6771 90.4237 43.3138 90.4237 44.2281C90.4237 45.2567 89.9533 46.0567 89.0125 46.6281C88.0717 47.1995 86.8585 47.4852 85.373 47.4852C82.0554 47.4852 79.3484 46.3995 77.2522 44.2281Z" fill="white"/>
                    <path class="letter" d="M99.3257 51.9913H104.5V36.8568C104.5 35.0772 104.987 33.7222 105.961 32.7916C106.918 31.8446 108.14 31.3712 109.625 31.3712C111.111 31.3712 112.324 31.8446 113.265 32.7916C114.222 33.7222 114.701 35.0772 114.701 36.8568V51.9913H119.875V35.0936C119.793 32.1875 118.877 29.9834 117.127 28.4814C115.361 26.9957 113.413 26.2529 111.284 26.2529C108.528 26.2529 106.299 27.257 104.599 29.2651H104.5V16.2857H99.3257V51.9913Z" fill="white"/>
                    <path class="letter" d="M125.187 51.9913H130.362V26.5713H125.187V51.9913ZM125.187 21.404H130.362V16.2857H125.187V21.404Z" fill="white"/>
                    <path class="letter" d="M135.996 51.9913H141.17V36.8568C141.17 35.0772 141.666 33.7222 142.656 32.7916C143.597 31.8446 144.81 31.3712 146.295 31.3712C147.781 31.3712 149.002 31.8446 149.96 32.7916C150.901 33.7222 151.371 35.0772 151.371 36.8568V51.9913H156.545V36.8568C156.545 35.0772 157.032 33.7222 158.006 32.7916C158.964 31.8446 160.185 31.3712 161.67 31.3712C163.156 31.3712 164.369 31.8446 165.31 32.7916C166.251 33.7222 166.721 35.0772 166.721 36.8568V51.9913H171.896V35.0936C171.83 32.1875 170.922 29.9834 169.172 28.4814C167.406 26.9957 165.458 26.2529 163.329 26.2529C159.946 26.2202 157.247 27.3304 155.233 29.5835C154.342 28.6039 153.36 27.7957 152.287 27.159C151.198 26.5876 149.762 26.2855 147.979 26.2529C145.206 26.2529 142.97 27.257 141.27 29.2651H141.17V26.5713H135.996V51.9913Z" fill="white"/>
                    <path class="letter" d="M177.703 51.9913H182.878V36.8568C182.878 35.0772 183.373 33.7222 184.363 32.7916C185.304 31.8446 186.517 31.3712 188.002 31.3712C189.488 31.3712 190.709 31.8446 191.667 32.7916C192.608 33.7222 193.078 35.0772 193.078 36.8568V51.9913H198.252V36.8568C198.252 35.0772 198.739 33.7222 199.713 32.7916C200.671 31.8446 201.892 31.3712 203.377 31.3712C204.863 31.3712 206.076 31.8446 207.017 32.7916C207.958 33.7222 208.428 35.0772 208.428 36.8568V51.9913H213.603V35.0936C213.537 32.1875 212.629 29.9834 210.879 28.4814C209.113 26.9957 207.165 26.2529 205.036 26.2529C201.653 26.2202 198.954 27.3304 196.94 29.5835C196.049 28.6039 195.067 27.7957 193.994 27.159C192.905 26.5876 191.469 26.2855 189.686 26.2529C186.913 26.2529 184.677 27.257 182.977 29.2651H182.878V26.5713H177.703V51.9913Z" fill="white"/>
                    <path class="letter" d="M239.043 41.2159V37.0037C239.01 33.6569 237.962 31.0283 235.899 29.1182C233.869 27.2406 231.385 26.2855 228.447 26.2529C227.225 26.2529 225.987 26.4733 224.733 26.9141C223.462 27.3549 222.315 28.0733 221.292 29.0692C220.285 30.0488 219.46 31.3875 218.816 33.0854C218.172 34.7507 217.85 36.8405 217.85 39.3547C217.85 41.9669 218.222 44.0893 218.964 45.722C219.641 47.4199 220.524 48.7423 221.614 49.6893C222.175 50.1464 222.777 50.5301 223.421 50.8403C224.032 51.1994 224.659 51.4851 225.303 51.6974C226.59 52.0892 227.91 52.2851 229.264 52.2851C232.813 52.3178 235.899 50.9464 238.523 48.1709L234.785 45.0118C233.134 46.6607 231.261 47.4852 229.165 47.4852C227.366 47.4852 225.913 46.9464 224.807 45.8689C223.619 44.8077 223.025 43.2567 223.025 41.2159H239.043ZM223.025 37.0037C223.124 35.0283 223.66 33.5344 224.634 32.5222C225.624 31.5589 226.895 31.0773 228.447 31.0773C229.998 31.0773 231.269 31.5589 232.26 32.5222C233.266 33.5344 233.803 35.0283 233.869 37.0037H223.025Z" fill="white"/>
                    <path class="letter" d="M242.944 51.9913H248.119V36.6854C248.152 34.8242 248.697 33.4773 249.753 32.6446C250.694 31.7957 251.824 31.3712 253.145 31.3712C254.317 31.3712 255.447 31.7957 256.537 32.6446L260.3 28.212C258.765 26.9386 256.966 26.2855 254.903 26.2529C252.146 26.2529 249.918 27.257 248.218 29.2651H248.119V26.5713H242.944V51.9913Z" fill="white"/>
                  </svg>
                </a>
              </li>
              {{#if @site.navigation}}
                {{navigation}}
              {{/if}}
              {{!-- {{#if @site.secondary_navigation}}
                <li class="more">
                  <span>
                    <a href="javascript:void(0);" class="js-open-secondary-menu">
                      {{t "More"}}
                      <span class="icon-chevron-down" aria-hidden="true"></span>
                    </a>
                  </span>
                </li>
              {{/if}} --}}
              <li class="submenu-option js-submenu-option">
                <div class="js-toggle-submenu">Recent</div>
                {{!-- <button class="m-icon-button in-menu-main more js-toggle-submenu" aria-label="{{t "Open submenu"}}">
                  <span class="icon-more" aria-hidden="true"></span>
                </button> --}}
                <div class="m-submenu js-submenu">
                  <div class="l-wrapper in-submenu">
                    <section class="m-recent-articles">
                      <h3 class="m-submenu-title in-recent-articles">{{t "Recent articles"}}</h3>
                      {{#get "posts" limit="4" order="published_at desc" as |recent|}}
                        {{#if recent}}
                          <div class="glide js-recent-slider">
                            <div class="glide__track" data-glide-el="track">
                              <div class="glide__slides">
                                {{#foreach recent}}
                                <div class="glide__slide">
                                  <a href="{{url}}" class="m-recent-article">
                                    <div class="m-recent-article__picture {{#unless feature_image}}no-picture{{/unless}}">
                                      {{#if feature_image}}
                                        <img src="{{img_url feature_image size="s"}}" loading="lazy" alt="">
                                      {{else}}
                                        <img src="{{asset "images/no-image.png"}}" loading="lazy" alt="">
                                      {{/if}}
                                    </div>
                                    <h3 class="m-recent-article__title js-recent-article-title" title="{{title}}">
                                      {{title}}
                                    </h3>
                                    <span class="m-recent-article__date">{{date published_at timeago="true"}}</span>
                                  </a>
                                </div>
                                {{/foreach}}
                              </div>
                            </div>
                          </div>
                        {{else}}
                          <div class="m-not-found in-recent-articles">{{t "No recent articles found :("}}</div>
                        {{/if}}
                      {{/get}}
                    </section>
                    <section class="m-tags">
                      <h3 class="m-submenu-title">{{t "Tags"}}</h3>
                      {{#get "tags" limit="10"}}
                        <ul>
                          {{#foreach tags}}
                            <li>
                              <a href="{{url}}">{{name}}</a>
                            </li>
                            {{else}}
                              <li class="m-not-found">{{t "No tags found :("}}</li>
                          {{/foreach}}
                        </ul>
                      {{/get}}
                    </section>
                  </div>
                </div>
              </li>
            </ul>
          </nav>
          <div class="m-nav__right">
            <button class="m-icon-button in-menu-main js-open-search" aria-label="{{t "Open search"}}">
              <span class="icon-search" aria-hidden="true"></span>
            </button>
            <div class="m-toggle-darkmode js-tooltip" data-tippy-content="{{t "Toggle dark mode"}}" tabindex="0">
              <label for="toggle-darkmode" class="sr-only">
                {{t "Toggle dark mode"}}
              </label>
              <input id="toggle-darkmode" type="checkbox" class="js-toggle-darkmode">
              <div>
                <span class="icon-moon moon" aria-hidden="true"></span>
                <span class="icon-sunny sun" aria-hidden="true"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {{#if @site.secondary_navigation}}
    <div id="secondary-navigation-template" style="display: none;">
      {{navigation type="secondary"}}
    </div>
  {{/if}}
</header>
