<!DOCTYPE html>
<html ⚡>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">

    <title>{{meta_title}}</title>

    {{amp_ghost_head}}

    <style amp-custom>
        /* Global style */
        *,
        *::before,
        *::after {
            box-sizing: border-box;
        }


        html {
            overflow-x: hidden;
            overflow-y: scroll;
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        }

        body {
            min-height: 100vh;
            margin: 0;
            padding: 0;
            color: #4a4a4a;
            font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
            font-size: 1rem;
            line-height: 1.25;
            font-weight: 400;
            font-style: normal;
            background: #fff;
            scroll-behavior: smooth;
            overflow-x: hidden;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }

        p,
        ul,
        ol,
        li,
        dl,
        dd,
        hr,
        pre,
        form,
        table,
        video,
        figure,
        figcaption,
        blockquote {
            margin: 0;
            padding: 0;
        }

        ul[class],
        ol[class] {
            padding: 0;
            list-style: none;
        }

        fieldset {
            margin: 0;
            padding: 0;
            border: 0;
        }

        ::selection {
            text-shadow: none;
            background: #b3d4fc;
        }

        small {
            font-size: 80%;
        }

        ul li+li,
        ol li+li {
            margin-top: 0.6em;
        }

        a {
            color: #4a4a4a;
            text-decoration: underline;
            transition: color linear 0.2s;
        }

        a:hover {
            color: #0FC1B7;
        }


        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-family: "Metropolis Bold";
            color: #131f37;
            letter-spacing: 0.02rem;
            line-height: 1.25;
            padding-top: 5px;
            margin: 0 0 30px;
        }

        h1 {
            font-size: 1.8rem;
        }

        h2 {
            font-size: 1.5rem;
        }

        h3 {
            font-size: 1.3rem;
        }

        h4,
        h5,
        h6 {
            font-size: 1.25rem;
        }


        amp-img {
            height: 100%;
            width: 100%;
            max-width: 100%;
            max-height: 100%;
        }

        amp-img img {
            object-fit: cover;
        }

        /* Header */
        .page-header {
            padding: 8px 0;
            text-align: center;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 4;
            width: 100%;
            background-color: #fff;
        }

        .page-header__logo {
            filter: invert(1);
        }

        /* Hero image */
        .fixed-container {
            margin: 0 0 5vmin;
        }
        .fixed-container img {
            display: block;
            width: 100%;
            height: auto;
        }
        amp-img.cover img {
            object-fit: cover;
        }

        /* Post content */
        .post {
            max-width: 680px;
            margin: 0 auto;
            padding: 40px 0 20px;
        }

        /* Post -- Header */
        .post-header {
            margin-bottom: 40px;
            padding: 0 16px;
            text-align: center;
        }

        .post-title {
            margin-bottom: 15px;
            font-size: 1.8rem;
            text-align: left;
        }

        .post-meta {
            display: flex;
            align-items: center;
            justify-content: center;
            letter-spacing: 0.2px;
            font-size: 0.875rem;
            font-weight: 600;
            color: #0FC1B7;
        }

        .post-meta .dot-separator {
            margin: 0 0.5rem;
            font-size: .875rem;
            font-weight: 600;
            color: #eef2fa;
        }

        /* Post -- Content */
        .post-content {
            padding: 0 20px;
        }

        .post-content p {
            margin-bottom: 25px;
            line-height: 1.75rem;
        }

        .post-content figure {
            padding: 20px 0 40px;
            margin: 0 -20px;
            margin-top: 0px;
            margin-right: -20px;
            margin-bottom: 0px;
            margin-left: -20px;
        }

        .post-content h1,
        .post-content h2,
        .post-content h3,
        .post-content h4,
        .post-content h5 {
            font-family: "Metropolis Bold";
            letter-spacing: .02rem;
            line-height: 1.25;
            padding-top: 5px;
            margin: 0 0 30px;
            margin-top: 0px;
            margin-right: 0px;
            margin-bottom: 30px;
            margin-left: 0px;
        }

        .post-content hr {
            position: relative;
            margin: 30px 0;
            border: 0;
            height: 0;
            overflow: visible;
            border-top: 1px solid #0fc1b7;
            opacity: 1;
        }

        .post-content hr::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: #0fc1b7;
            box-shadow: 0 0 0 10px #fff, 0 0 0 transparent;
            transform: translate(-50%, -50%);
        }

        .post-content blockquote {
            position: relative;
            letter-spacing: 0;
            line-height: 1.75rem;
            font-size: 1rem;
            font-style: italic;
            font-family: Georgia, "Times New Roman", Times, serif;
            padding: 0 40px;
            margin: 0 0 25px;
        }

        .post-content blockquote::before {
            content: '"';
            position: absolute;
            top: 0;
            left: 0;
            color: #4a4a4a;
            line-height: 1;
            font-size: 2.625rem;
        }

        .post-content blockquote p:last-child {
            margin-bottom: 0;
        }

        .post-content table {
            color: #131f37;
            font-size: 0.875rem;
            width: calc(100% + 40px);
            margin: 0 -20px 25px;
        }

        .post-content table thead {
            border-bottom: 1px solid #e2e2e2;
        }

        .post-content table thead td {
            font-weight: 600;
        }

        .post-content table tbody tr:nth-child(even) {
            background-color: #131f37;
        }

        .post-content table tbody tr:nth-child(odd) {
            background-color: #eef2fa;
        }

        .post-content tbody tr:nth-child(2n + 2) td:last-child {
            box-shadow:
                inset 1px 0 rgba(0, 0, 0, 0.1),
                inset -1px 0 rgba(0, 0, 0, 0.1);
        }

        .post-content table td {
            text-align: center;
            padding: 10px;
        }

        .post-content code {
            display: inline-block;
            color: #131f37;
            font-size: 0.9rem;
            font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
            padding: 0 5px;
            border-radius: 5px;
            color: #000;
            background: 0 0;
            text-shadow: 0 1px #fff;
            text-align: left;
            white-space: pre;
            word-spacing: normal;
            word-break: normal;
            word-wrap: normal;
            line-height: 1.5;
            -moz-tab-size: 4;
            -o-tab-size: 4;
            tab-size: 4;
            -webkit-hyphens: none;
            -ms-hyphens: none;
            hyphens: none;
        }

        .post-content pre {
            line-height: 1.4;
            font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
            border-radius: 5px;
            background-color: #eef2fa;
            white-space: pre;
            word-spacing: normal;
            word-break: normal;
            word-wrap: normal;
            line-height: 1.5;
            -moz-tab-size: 2;
            -o-tab-size: 2;
            tab-size: 2;
            -webkit-hyphens: none;
            -ms-hyphens: none;
            hyphens: none;
            background: #f5f2f0;
            padding: 1em;
            margin: 0.5em 0;
            overflow: auto;
        }

        .post-content pre>code {
            display: block;
            padding: 10px;
            white-space: pre;
            word-spacing: normal;
            word-break: normal;
            word-wrap: normal;
            line-height: 1.5;
            -moz-tab-size: 2;
            -o-tab-size: 2;
            tab-size: 2;
            -webkit-hyphens: none;
            -ms-hyphens: none;
            hyphens: none;
        }

        .post-content pre.line-numbers>code {
            padding: 0;
        }

        .post-content form {
            margin-bottom: 25px;
        }

        .post-content input,
        .post-content textarea,
        .post-content select {
            margin-bottom: 20px;
        }

        .post-content textarea {
            height: 100px;
            resize: none;
        }

        .post-content select {
            position: relative;
            padding-right: 40px;
            background-repeat: no-repeat;
            background-position: calc(100% -15px) center;
            background-size: 15px 8px;
            background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI5IiBoZWlnaHQ9IjUiIHZpZXdCb3g9IjAgMCA5IDUiPgogICAgPHBhdGggZmlsbD0iIzU2NWU2MCIgZmlsbC1ydWxlPSJldmVub2RkIiBkPSJNOC4zMi41N2EuMjQ3LjI0NyAwIDAgMSAwIC4zNkw0LjY4IDQuNTdhLjI0Ny4yNDcgMCAwIDEtLjM2IDBMLjY4LjkzYS4yNDcuMjQ3IDAgMCAxIDAtLjM2bC4zOS0uMzlhLjI0Ny4yNDcgMCAwIDEgLjM2IDBMNC41IDMuMjUgNy41Ny4xOGEuMjQ3LjI0NyAwIDAgMSAuMzYgMGwuMzkuMzl6Ii8+Cjwvc3ZnPgo=");
        }

        .post-content button:not(.m-icon-button) {
            border: 1px solid #4a4a4a;
        }

        .post-content .kg-bookmark-card {
            width: 100%;
            padding: 0;
            margin: 30px auto;
            background: #fff;
        }

        .post-content .kg-card+.kg-bookmark-card {
            margin-top: 0;
        }

        .post-content .kg-bookmark-container {
            display: flex;
            flex-direction: column;
            color: var(--primary-foreground-color);
            text-decoration: none;
            min-height: 148px;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 4px, rgba(0, 0, 0, 0.1) 0px 0px 0px 1px;
            border-radius: 3px;
        }

        .post-content .kg-bookmark-content {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            align-items: flex-start;
            justify-content: flex-start;
            padding: 20px;
        }

        .post-content .kg-bookmark-title {
            font-size: 1rem;
            line-height: 1.3;
            font-weight: 600;
        }

        .post-content .kg-bookmark-description {
            font-size: 0.875rem;
            font-weight: 400;
            line-height: 1.4;
            margin-top: 12px;
            overflow-y: hidden;
        }

        .post-content .kg-bookmark-thumbnail {
            position: relative;
            order: -1;
            width: 100%;
            min-width: 30%;
            min-height: 160px;
            max-height: 100%;
            overflow: hidden;
        }

        .post-content .kg-bookmark-thumbnail amp-img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;
            -o-object-fit: cover;
            object-fit: cover;
            border-radius: 3px 3px 0 0;
        }

        .post-content .kg-bookmark-metadata {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            font-size: 0.9rem;
            font-weight: 400;
            color: #131f37;
            margin-top: 14px;
        }

        .post-content .kg-bookmark-icon {
            width: 22px;
            height: 22px;
            margin-right: 8px;
        }

        .post-content .kg-bookmark-author:after {
            content: "\2022";
            margin: 0 6px;
        }

        .post-content .kg-bookmark-publisher {
            color: inherit;
        }

        .post-content .kg-gallery-card figcaption {
            display: none;
        }

        .post-content ul,
        .post-content ol {
            letter-spacing: 0;
            line-height: 1.75rem;
            font-size: 1rem;
            padding-left: 20px;
            margin: 0 0 20px 0;
        }

        .post-content figure.kg-embed-card,
        .post-content.kg-image-card.kg-embed-card {
            display: flex;
            flex-direction: column;
            align-items: center;
            min-width: 100%;
            margin: 0 auto;
        }

        .post-content figure.kg-embed-card iframe,
        .post-content.kg-image-card.kg-embed-card iframe {
            margin: 0 auto;
        }

        .post-content figure.kg-width-full amp-img,
        .post-content figure.kg-width-wide amp-img,
        .post-content.kg-image-card.kg-width-full amp-img,
        .post-content.kg-image-card.kg-width-wide amp-img {
            width: 100%;
            height: auto;
        }

        .post-content figure img,
        .post-content figure .kg-image,
        .post-content.kg-image-card img,
        .post-content.kg-image-card .kg-image {
            display: block;
            width: auto;
            max-width: 100%;
            height: auto;
            margin: 0 auto;
        }

        .post-content figure figcaption,
        .post-content.kg-image-card figcaption {
            text-align: center;
            letter-spacing: 0.1px;
            line-height: 1.3;
            font-size: 0.75rem;
            padding: 10px 20px 0 20px;
        }

        .post-content figure .fluid-width-video-container,
        .post-content.kg-image-card .fluid-width-video-container {
            flex-grow: 1;
            width: 100%;
        }

        .post-content figure .fluid-width-video-wrapper,
        .post-content.kg-image-card .fluid-width-video-wrapper {
            margin: 0 auto;
        }

        .post-content figure .kg-gallery-container,
        .post-content.kg-image-card .kg-gallery-container {
            display: flex;
            flex-direction: column;
            width: 100%;
        }

        .post-content figure .kg-gallery-row,
        .post-content.kg-image-card .kg-gallery-row {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }

        .post-content figure .kg-gallery-image img,
        .post-content.kg-image-card .kg-gallery-image img {
            display: block;
            margin: 0;
            width: 100%;
            height: 100%;
            -o-object-fit: cover;
            object-fit: cover;
        }

        .post-content figure .kg-gallery-row:not(:first-of-type),
        .post-content.kg-image-card .kg-gallery-row:not(:first-of-type) {
            margin: 0.75em 0 0 0;
        }

        .post-content figure .kg-gallery-image:not(:first-of-type),
        .post-content.kg-image-card .kg-gallery-image:not(:first-of-type) {
            margin: 0 0 0 0.75em;
        }

        /* Footer */
        .m-footer {
            flex-shrink: 0;
            background: linear-gradient(225deg, #485776 0%, #131f37 100%);
            background-repeat: no-repeat;
            background-position: left bottom;
        }

        .m-footer__content {
            color: #fff;
            text-align: center;
            padding: 45px 20px;
        }

        .m-footer__nav-secondary {
            margin-bottom: 25px;
        }

        .m-footer__nav-secondary .m-secondary-menu {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }

        .m-footer-grid {
            display: block;
        }


        .m-footer-social {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 20px;
        }

        .m-footer-social a {
            display: inline-block;
            color: #c3d0e4;
            margin: 0 15px;
            text-decoration: none;
        }

        .m-footer-social a span {
            color: #c3d0e4;
            font-size: 1rem;
        }

        .rtl .m-footer-social {
            direction: ltr;
        }

        .m-footer__logo {
            margin-bottom: 14px;
        }

        .page-footer {
            padding: 60px 5vmin;
            margin: 60px auto 0;
            text-align: center;
            background-color: #f8f8f8;
        }

        /* Icons */

        [class^="icon-"],
        [class*=" icon-"] {
            font-family: 'icomoon';
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;

            /* Better Font Rendering =========== */
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }

        .icon-globe:before {
            content: "\E908";
        }

        .icon-twitter:before {
            content: "\E90C";
        }

        .icon-discord:before {
            content: "\e929";
        }

        .icon-rss:before {
            content: "\e91a";
        }

        .icon-facebook:before {
            content: "\e907";
        }

        @font-face {
            font-family: 'icomoon';
            font-weight: normal;
            font-style: normal;
            font-display: swap;
            src: url("{{asset 'fonts/icomoon/icomoon.eot?101fc3'}}");
            src: url("{{asset 'fonts/icomoon/icomoon.eot?101fc3#iefix'}}") format('embedded-opentype'),
            url("{{asset 'fonts/icomoon/icomoon.ttf?101fc3'}}") format('truetype'),
            url("{{asset 'fonts/icomoon/icomoon.woff?101fc3'}}") format('woff'),
            url("{{asset 'fonts/icomoon/icomoon.svg?101fc3#icomoon'}}") format('svg');
        }

        /* Fonts */
        @font-face {
            font-family: "Inter";
            font-style: normal;
            font-weight: 100;
            font-display: swap;
            src: url("https://webassets.iota.org/fonts/inter/Inter-Thin.woff2?v=3.13") format("woff2"), url("https://webassets.iota.org/fonts/inter/Inter-Thin.woff?v=3.13") format("woff");
        }

        @font-face {
            font-family: "Inter";
            font-style: italic;
            font-weight: 100;
            font-display: swap;
            src: url("https://webassets.iota.org/fonts/inter/Inter-ThinItalic.woff2?v=3.13") format("woff2"), url("https://webassets.iota.org/fonts/inter/Inter-ThinItalic.woff?v=3.13") format("woff");
        }

        @font-face {
            font-family: "Inter";
            font-style: normal;
            font-weight: 200;
            font-display: swap;
            src: url("https://webassets.iota.org/fonts/inter/Inter-ExtraLight.woff2?v=3.13") format("woff2"), url("https://webassets.iota.org/fonts/inter/Inter-ExtraLight.woff?v=3.13") format("woff");
        }

        @font-face {
            font-family: "Inter";
            font-style: italic;
            font-weight: 200;
            font-display: swap;
            src: url("https://webassets.iota.org/fonts/inter/Inter-ExtraLightItalic.woff2?v=3.13") format("woff2"), url("https://webassets.iota.org/fonts/inter/Inter-ExtraLightItalic.woff?v=3.13") format("woff");
        }

        @font-face {
            font-family: "Inter";
            font-style: normal;
            font-weight: 300;
            font-display: swap;
            src: url("https://webassets.iota.org/fonts/inter/Inter-Light.woff2?v=3.13") format("woff2"), url("https://webassets.iota.org/fonts/inter/Inter-Light.woff?v=3.13") format("woff");
        }

        @font-face {
            font-family: "Inter";
            font-style: italic;
            font-weight: 300;
            font-display: swap;
            src: url("https://webassets.iota.org/fonts/inter/Inter-LightItalic.woff2?v=3.13") format("woff2"), url("https://webassets.iota.org/fonts/inter/Inter-LightItalic.woff?v=3.13") format("woff");
        }

        @font-face {
            font-family: "Inter";
            font-style: normal;
            font-weight: 400;
            font-display: swap;
            src: url("https://webassets.iota.org/fonts/inter/Inter-Regular.woff2?v=3.13") format("woff2"), url("https://webassets.iota.org/fonts/inter/Inter-Regular.woff?v=3.13") format("woff");
        }

        @font-face {
            font-family: "Inter";
            font-style: italic;
            font-weight: 400;
            font-display: swap;
            src: url("https://webassets.iota.org/fonts/inter/Inter-Italic.woff2?v=3.13") format("woff2"), url("https://webassets.iota.org/fonts/inter/Inter-Italic.woff?v=3.13") format("woff");
        }

        @font-face {
            font-family: "Inter";
            font-style: normal;
            font-weight: 500;
            font-display: swap;
            src: url("https://webassets.iota.org/fonts/inter/Inter-Medium.woff2?v=3.13") format("woff2"), url("https://webassets.iota.org/fonts/inter/Inter-Medium.woff?v=3.13") format("woff");
        }

        @font-face {
            font-family: "Inter";
            font-style: italic;
            font-weight: 500;
            font-display: swap;
            src: url("https://webassets.iota.org/fonts/inter/Inter-MediumItalic.woff2?v=3.13") format("woff2"), url("https://webassets.iota.org/fonts/inter/Inter-MediumItalic.woff?v=3.13") format("woff");
        }

        @font-face {
            font-family: "Inter";
            font-style: normal;
            font-weight: 600;
            font-display: swap;
            src: url("https://webassets.iota.org/fonts/inter/Inter-SemiBold.woff2?v=3.13") format("woff2"), url("https://webassets.iota.org/fonts/inter/Inter-SemiBold.woff?v=3.13") format("woff");
        }

        @font-face {
            font-family: "Inter";
            font-style: italic;
            font-weight: 600;
            font-display: swap;
            src: url("https://webassets.iota.org/fonts/inter/Inter-SemiBoldItalic.woff2?v=3.13") format("woff2"), url("https://webassets.iota.org/fonts/inter/Inter-SemiBoldItalic.woff?v=3.13") format("woff");
        }

        @font-face {
            font-family: "Inter";
            font-style: normal;
            font-weight: 700;
            font-display: swap;
            src: url("https://webassets.iota.org/fonts/inter/Inter-Bold.woff2?v=3.13") format("woff2"), url("https://webassets.iota.org/fonts/inter/Inter-Bold.woff?v=3.13") format("woff");
        }

        @font-face {
            font-family: "Inter";
            font-style: italic;
            font-weight: 700;
            font-display: swap;
            src: url("https://webassets.iota.org/fonts/inter/Inter-BoldItalic.woff2?v=3.13") format("woff2"), url("https://webassets.iota.org/fonts/inter/Inter-BoldItalic.woff?v=3.13") format("woff");
        }

        @font-face {
            font-family: "Inter";
            font-style: normal;
            font-weight: 800;
            font-display: swap;
            src: url("https://webassets.iota.org/fonts/inter/Inter-ExtraBold.woff2?v=3.13") format("woff2"), url("https://webassets.iota.org/fonts/inter/Inter-ExtraBold.woff?v=3.13") format("woff");
        }

        @font-face {
            font-family: "Inter";
            font-style: italic;
            font-weight: 800;
            font-display: swap;
            src: url("https://webassets.iota.org/fonts/inter/Inter-ExtraBoldItalic.woff2?v=3.13") format("woff2"), url("https://webassets.iota.org/fonts/inter/Inter-ExtraBoldItalic.woff?v=3.13") format("woff");
        }

        @font-face {
            font-family: "Inter";
            font-style: normal;
            font-weight: 900;
            font-display: swap;
            src: url("https://webassets.iota.org/fonts/inter/Inter-Black.woff2?v=3.13") format("woff2"), url("https://webassets.iota.org/fonts/inter/Inter-Black.woff?v=3.13") format("woff");
        }

        @font-face {
            font-family: "Inter";
            font-style: italic;
            font-weight: 900;
            font-display: swap;
            src: url("https://webassets.iota.org/fonts/inter/Inter-BlackItalic.woff2?v=3.13") format("woff2"), url("https://webassets.iota.org/fonts/inter/Inter-BlackItalic.woff?v=3.13") format("woff");
        }

        @font-face {
            font-family: "Inter var";
            font-style: normal;
            font-weight: 100 900;
            font-display: swap;
            font-named-instance: "Regular";
            src: url("https://webassets.iota.org/fonts/inter/Inter-roman.var.woff2?v=3.13") format("woff2");
        }

        @font-face {
            font-family: "Inter var";
            font-style: italic;
            font-weight: 100 900;
            font-display: swap;
            font-named-instance: "Italic";
            src: url("https://webassets.iota.org/fonts/inter/Inter-italic.var.woff2?v=3.13") format("woff2");
        }

        @font-face {
            font-family: "Metropolis Regular";
            font-style: normal;
            font-weight: normal;
            src: url("https://webassets.iota.org/fonts/metropolis/Metropolis-Regular.woff2?v=11") format("woff2"), url("https://webassets.iota.org/fonts/metropolis/Metropolis-Regular.woff?v=11") format("woff");
        }

        @font-face {
            font-family: "Metropolis Regular Italic";
            font-style: normal;
            font-weight: normal;
            src: url("https://webassets.iota.org/fonts/metropolis/Metropolis-RegularItalic.woff2?v=11") format("woff2"), url("https://webassets.iota.org/fonts/metropolis/Metropolis-RegularItalic.woff?v=11") format("woff");
        }

        @font-face {
            font-family: "Metropolis Extra Light";
            font-style: normal;
            font-weight: normal;
            src: url("https://webassets.iota.org/fonts/metropolis/Metropolis-ExtraLight.woff2?v=11") format("woff2"), url("https://webassets.iota.org/fonts/metropolis/Metropolis-ExtraLight.woff?v=11") format("woff");
        }

        @font-face {
            font-family: "Metropolis Light";
            font-style: normal;
            font-weight: normal;
            src: url("https://webassets.iota.org/fonts/metropolis/Metropolis-Light.woff2?v=11") format("woff2"), url("https://webassets.iota.org/fonts/metropolis/Metropolis-Light.woff?v=11") format("woff");
        }

        @font-face {
            font-family: "Metropolis Thin";
            font-style: normal;
            font-weight: normal;
            src: url("https://webassets.iota.org/fonts/metropolis/Metropolis-Thin.woff2?v=11") format("woff2"), url("https://webassets.iota.org/fonts/metropolis/Metropolis-Thin.woff?v=11") format("woff");
        }

        @font-face {
            font-family: "Metropolis Extra Light Italic";
            font-style: normal;
            font-weight: normal;
            src: url("https://webassets.iota.org/fonts/metropolis/Metropolis-ExtraLightItalic.woff2?v=11") format("woff2"), url("https://webassets.iota.org/fonts/metropolis/Metropolis-ExtraLightItalic.woff?v=11") format("woff");
        }

        @font-face {
            font-family: "Metropolis Light Italic";
            font-style: normal;
            font-weight: normal;
            src: url("https://webassets.iota.org/fonts/metropolis/Metropolis-LightItalic.woff2?v=11") format("woff2"), url("https://webassets.iota.org/fonts/metropolis/Metropolis-LightItalic.woff?v=11") format("woff");
        }

        @font-face {
            font-family: "Metropolis Thin Italic";
            font-style: normal;
            font-weight: normal;
            src: url("https://webassets.iota.org/fonts/metropolis/Metropolis-ThinItalic.woff2?v=11") format("woff2"), url("https://webassets.iota.org/fonts/metropolis/Metropolis-ThinItalic.woff?v=11") format("woff");
        }

        @font-face {
            font-family: "Metropolis Medium";
            font-style: normal;
            font-weight: normal;
            src: url("https://webassets.iota.org/fonts/metropolis/Metropolis-Medium.woff2?v=11") format("woff2"), url("https://webassets.iota.org/fonts/metropolis/Metropolis-Medium.woff?v=11") format("woff");
        }

        @font-face {
            font-family: "Metropolis Semi Bold";
            font-style: normal;
            font-weight: normal;
            src: url("https://webassets.iota.org/fonts/metropolis/Metropolis-SemiBold.woff2?v=11") format("woff2"), url("https://webassets.iota.org/fonts/metropolis/Metropolis-SemiBold.woff?v=11") format("woff");
        }

        @font-face {
            font-family: "Metropolis Bold";
            font-style: normal;
            font-weight: normal;
            src: url("https://webassets.iota.org/fonts/metropolis/Metropolis-Bold.woff2?v=11") format("woff2"), url("https://webassets.iota.org/fonts/metropolis/Metropolis-Bold.woff?v=11") format("woff");
        }

        @font-face {
            font-family: "Metropolis Bold Italic";
            font-style: normal;
            font-weight: normal;
            src: url("https://webassets.iota.org/fonts/metropolis/Metropolis-BoldItalic.woff2?v=11") format("woff2"), url("https://webassets.iota.org/fonts/metropolis/Metropolis-BoldItalic.woff?v=11") format("woff");
        }

        @font-face {
            font-family: "Metropolis Medium Italic";
            font-style: normal;
            font-weight: normal;
            src: url("https://webassets.iota.org/fonts/metropolis/Metropolis-MediumItalic.woff2?v=11") format("woff2"), url("https://webassets.iota.org/fonts/metropolis/Metropolis-MediumItalic.woff?v=11") format("woff");
        }

        @font-face {
            font-family: "Metropolis Semi Bold Italic";
            font-style: normal;
            font-weight: normal;
            src: url("https://webassets.iota.org/fonts/metropolis/Metropolis-SemiBoldItalic.woff2?v=11") format("woff2"), url("https://webassets.iota.org/fonts/metropolis/Metropolis-SemiBoldItalic.woff?v=11") format("woff");
        }

        @font-face {
            font-family: "Metropolis Extra Bold";
            font-style: normal;
            font-weight: normal;
            src: url("https://webassets.iota.org/fonts/metropolis/Metropolis-ExtraBold.woff2?v=11") format("woff2"), url("https://webassets.iota.org/fonts/metropolis/Metropolis-ExtraBold.woff?v=11") format("woff");
        }

        @font-face {
            font-family: "Metropolis Extra Bold Italic";
            font-style: normal;
            font-weight: normal;
            src: url("https://webassets.iota.org/fonts/metropolis/Metropolis-ExtraBoldItalic.woff2?v=11") format("woff2"), url("https://webassets.iota.org/fonts/metropolis/Metropolis-ExtraBoldItalic.woff?v=11") format("woff");
        }

        @font-face {
            font-family: "Metropolis Black";
            font-style: normal;
            font-weight: normal;
            src: url("https://webassets.iota.org/fonts/metropolis/Metropolis-Black.woff2?v=11") format("woff2"), url("https://webassets.iota.org/fonts/metropolis/Metropolis-Black.woff?v=11") format("woff");
        }

        @font-face {
            font-family: "Metropolis Black Italic";
            font-style: normal;
            font-weight: normal;
            src: url("https://webassets.iota.org/fonts/metropolis/Metropolis-BlackItalic.woff2?v=11") format("woff2"), url("https://webassets.iota.org/fonts/metropolis/Metropolis-BlackItalic.woff?v=11") format("woff");
        }
    </style>

    {{!-- AMP Boilerplate --}}
    <style amp-boilerplate>
        body {
            -webkit-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
            -moz-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
            -ms-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
            animation: -amp-start 8s steps(1, end) 0s 1 normal both
        }

        @-webkit-keyframes -amp-start {
            from {
                visibility: hidden
            }

            to {
                visibility: visible
            }
        }

        @-moz-keyframes -amp-start {
            from {
                visibility: hidden
            }

            to {
                visibility: visible
            }
        }

        @-ms-keyframes -amp-start {
            from {
                visibility: hidden
            }

            to {
                visibility: visible
            }
        }

        @-o-keyframes -amp-start {
            from {
                visibility: hidden
            }

            to {
                visibility: visible
            }
        }

        @keyframes -amp-start {
            from {
                visibility: hidden
            }

            to {
                visibility: visible
            }
        }
    </style><noscript>
        <style amp-boilerplate>
            body {
                -webkit-animation: none;
                -moz-animation: none;
                -ms-animation: none;
                animation: none
            }
        </style>
    </noscript>
    <script async src="https://cdn.ampproject.org/v0.js"></script>

    {{amp_components}}

</head>

<body class="amp-template">
    {{#post}}
    <header class="page-header">
        <a href="{{@site.url}}">
            {{#if @site.logo}}
            <amp-img class="page-header__logo" src="{{@site.logo}}" alt="{{@site.title}}" width="94" height="25"
                layout="fixed"></amp-img>
            {{else}}
            {{@site.title}}
            {{/if}}
        </a>
    </header>

    {{#if feature_image}}
        <div class="fixed-container">
            <amp-img src="{{img_url feature_image absolute="true"}}" width="700" height="320" layout="responsive"></amp-img>
        </div>

    {{/if}}
    <main class="content" role="main">
        <article class="post">
            <header class="post-header">
                <h1 class="post-title">{{title}}</h1>
                <section class="post-meta">
                    {{primary_author.name}} <span class="dot-separator">·</span>
                    <time class="post-date" datetime="{{date format=" YYYY-MM-DD"}}">{{date format="MMM DD,
                        YYYY"}}</time>
                </section>
            </header>

            <section class="post-content">

                {{amp_content}}

            </section>

        </article>
    </main>
    {{/post}}

    {{> footer}}

    {{amp_analytics}}
</body>

</html>