<!DOCTYPE html>
<html ⚡>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">

    <title>{{meta_title}}</title>

    {{amp_ghost_head}}

    <style amp-custom>
        *,
        *::before,
        *::after {
            box-sizing: border-box;
        }


        html {
            overflow-x: hidden;
            overflow-y: scroll;
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        }

        body {
            min-height: 100vh;
            margin: 0;
            padding: 0;
            color: #4a4a4a;
            font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
            font-size: 1rem;
            line-height: 1.25;
            font-weight: 400;
            font-style: normal;
            background: #fff;
            scroll-behavior: smooth;
            overflow-x: hidden;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }

        p,
        ul,
        ol,
        li,
        dl,
        dd,
        hr,
        pre,
        form,
        table,
        video,
        figure,
        figcaption,
        blockquote {
            margin: 0;
            padding: 0;
        }

        ul[class],
        ol[class] {
            padding: 0;
            list-style: none;
        }

        fieldset {
            margin: 0;
            padding: 0;
            border: 0;
        }

        ::selection {
            text-shadow: none;
            background: #b3d4fc;
        }

        small {
            font-size: 80%;
        }

        ul li+li {
            margin-top: 0.6em;
        }

        a {
            color: #4a4a4a;
            text-decoration: underline;
            transition: color linear 0.2s;
        }

        a:hover {
            color: #0FC1B7;
        }


        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-family: "Metropolis Bold";
            color: #131f37;
            letter-spacing: 0.02rem;
            line-height: 1.25;
            padding-top: 5px;
            margin: 0 0 30px;
        }

        h1 {
            font-size: 1.8rem;
        }

        h2 {
            font-size: 1.5rem;
        }

        h3 {
            font-size: 1.3rem;
        }

        h4,
        h5,
        h6 {
            font-size: 1.25rem;
        }

        .page-header {
            padding: 8px 0;
            text-align: center;
        }

        .post-title {
            margin-bottom: 15px;
            font-size: 1.8rem;
            text-align: left;
        }

        amp-img {
            height: 100%;
            width: 100%;
            max-width: 100%;
            max-height: 100%;
        }

        amp-img img {
            object-fit: cover;
        }



        .post {
            max-width: 680px;
            margin: 0 auto;
            padding: 40px 0 20px;
        }

        .post-header {
            margin-bottom: 40px;
            padding: 0 16px;
            text-align: center;
        }

        .post-meta {
            display: flex;
            align-items: center;
            justify-content: center;
            letter-spacing: 0.2px;
            font-size: 0.875rem;
            font-weight: 600;
            color: #0FC1B7;
        }

        .post-meta .dot-separator {
            margin: 0 0.5rem;
            font-size: .875rem;
            font-weight: 600;
            color: #eef2fa;
        }

        .post-image figure {
            margin: 0 0 5vmin;
        }

        .post-image img {
            display: block;
            width: 100%;
            height: auto;
        }

        .post-content {
            padding: 0 20px;
        }

        .post-content p {
            margin-bottom: 25px;
            line-height: 1.75rem;
        }

        .post-content figure {
            padding: 20px 0 40px;
            margin: 0 -20px;
            margin-top: 0px;
            margin-right: -20px;
            margin-bottom: 0px;
            margin-left: -20px;
        }

        .post-content h1,
        .post-content h2,
        .post-content h3,
        .post-content h4,
        .post-content h5 {
            font-family: "Metropolis Bold";
            letter-spacing: .02rem;
            line-height: 1.25;
            padding-top: 5px;
            margin: 0 0 30px;
            margin-top: 0px;
            margin-right: 0px;
            margin-bottom: 30px;
            margin-left: 0px;
        }

        .post-content hr {
            position: relative;
            margin: 30px 0;
            border: 0;
            height: 0;
            overflow: visible;
            border-top: 1px solid #131f37;
            opacity: 1;
        }

        .post-content hr::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: #0fc1b7;
            box-shadow: 0 0 0 10px #fff, 0 0 0 transparent;
            transform: translate(-50%, -50%);
        }

        .post-content blockquote {
            position: relative;
            font-style: italic;
        }

        .post-content blockquote::before {
            content: "";
            position: absolute;
            left: -1.5em;
            top: 0;
            bottom: 0;
            width: 0.3rem;
            background: var(--ghost-accent-color, #1292EE);
        }

        .post-content table {
            border-collapse: collapse;
            width: 100%;
        }

        .post-content th {
            padding: 0.5em 0.8em;
            text-align: left;
            font-size: .75em;
            text-transform: uppercase;
        }

        .post-content td {
            padding: 0.4em 0.7em;
        }

        .post-content tbody tr:nth-child(2n + 1) {
            background-color: rgba(0, 0, 0, 0.1);
            padding: 1px;
        }

        .post-content tbody tr:nth-child(2n + 2) td:last-child {
            box-shadow:
                inset 1px 0 rgba(0, 0, 0, 0.1),
                inset -1px 0 rgba(0, 0, 0, 0.1);
        }

        .post-content tbody tr:nth-child(2n + 2) td {
            box-shadow: inset 1px 0 rgba(0, 0, 0, 0.1);
        }

        .post-content tbody tr:last-child {
            border-bottom: 1px solid rgba(0, 0, 0, .1);
        }

        .page-footer {
            padding: 60px 5vmin;
            margin: 60px auto 0;
            text-align: center;
            background-color: #f8f8f8;
        }

        .page-footer h3 {
            margin: 0.5rem 0 0 0;
        }

        .page-footer p {
            max-width: 500px;
            margin: 1rem auto 1.5rem;
            font-size: 1.7rem;
            line-height: 1.5em;
            color: rgba(0, 0, 0, 0.6)
        }

            {
                {
                 !-- Fonts --
            }
        }

        @font-face {
            font-family: "Inter";
            font-style: normal;
            font-weight: 100;
            font-display: swap;
            src: url("https://webassets.iota.org/fonts/inter/Inter-Thin.woff2?v=3.13") format("woff2"), url("https://webassets.iota.org/fonts/inter/Inter-Thin.woff?v=3.13") format("woff");
        }

        @font-face {
            font-family: "Inter";
            font-style: italic;
            font-weight: 100;
            font-display: swap;
            src: url("https://webassets.iota.org/fonts/inter/Inter-ThinItalic.woff2?v=3.13") format("woff2"), url("https://webassets.iota.org/fonts/inter/Inter-ThinItalic.woff?v=3.13") format("woff");
        }

        @font-face {
            font-family: "Inter";
            font-style: normal;
            font-weight: 200;
            font-display: swap;
            src: url("https://webassets.iota.org/fonts/inter/Inter-ExtraLight.woff2?v=3.13") format("woff2"), url("https://webassets.iota.org/fonts/inter/Inter-ExtraLight.woff?v=3.13") format("woff");
        }

        @font-face {
            font-family: "Inter";
            font-style: italic;
            font-weight: 200;
            font-display: swap;
            src: url("https://webassets.iota.org/fonts/inter/Inter-ExtraLightItalic.woff2?v=3.13") format("woff2"), url("https://webassets.iota.org/fonts/inter/Inter-ExtraLightItalic.woff?v=3.13") format("woff");
        }

        @font-face {
            font-family: "Inter";
            font-style: normal;
            font-weight: 300;
            font-display: swap;
            src: url("https://webassets.iota.org/fonts/inter/Inter-Light.woff2?v=3.13") format("woff2"), url("https://webassets.iota.org/fonts/inter/Inter-Light.woff?v=3.13") format("woff");
        }

        @font-face {
            font-family: "Inter";
            font-style: italic;
            font-weight: 300;
            font-display: swap;
            src: url("https://webassets.iota.org/fonts/inter/Inter-LightItalic.woff2?v=3.13") format("woff2"), url("https://webassets.iota.org/fonts/inter/Inter-LightItalic.woff?v=3.13") format("woff");
        }

        @font-face {
            font-family: "Inter";
            font-style: normal;
            font-weight: 400;
            font-display: swap;
            src: url("https://webassets.iota.org/fonts/inter/Inter-Regular.woff2?v=3.13") format("woff2"), url("https://webassets.iota.org/fonts/inter/Inter-Regular.woff?v=3.13") format("woff");
        }

        @font-face {
            font-family: "Inter";
            font-style: italic;
            font-weight: 400;
            font-display: swap;
            src: url("https://webassets.iota.org/fonts/inter/Inter-Italic.woff2?v=3.13") format("woff2"), url("https://webassets.iota.org/fonts/inter/Inter-Italic.woff?v=3.13") format("woff");
        }

        @font-face {
            font-family: "Inter";
            font-style: normal;
            font-weight: 500;
            font-display: swap;
            src: url("https://webassets.iota.org/fonts/inter/Inter-Medium.woff2?v=3.13") format("woff2"), url("https://webassets.iota.org/fonts/inter/Inter-Medium.woff?v=3.13") format("woff");
        }

        @font-face {
            font-family: "Inter";
            font-style: italic;
            font-weight: 500;
            font-display: swap;
            src: url("https://webassets.iota.org/fonts/inter/Inter-MediumItalic.woff2?v=3.13") format("woff2"), url("https://webassets.iota.org/fonts/inter/Inter-MediumItalic.woff?v=3.13") format("woff");
        }

        @font-face {
            font-family: "Inter";
            font-style: normal;
            font-weight: 600;
            font-display: swap;
            src: url("https://webassets.iota.org/fonts/inter/Inter-SemiBold.woff2?v=3.13") format("woff2"), url("https://webassets.iota.org/fonts/inter/Inter-SemiBold.woff?v=3.13") format("woff");
        }

        @font-face {
            font-family: "Inter";
            font-style: italic;
            font-weight: 600;
            font-display: swap;
            src: url("https://webassets.iota.org/fonts/inter/Inter-SemiBoldItalic.woff2?v=3.13") format("woff2"), url("https://webassets.iota.org/fonts/inter/Inter-SemiBoldItalic.woff?v=3.13") format("woff");
        }

        @font-face {
            font-family: "Inter";
            font-style: normal;
            font-weight: 700;
            font-display: swap;
            src: url("https://webassets.iota.org/fonts/inter/Inter-Bold.woff2?v=3.13") format("woff2"), url("https://webassets.iota.org/fonts/inter/Inter-Bold.woff?v=3.13") format("woff");
        }

        @font-face {
            font-family: "Inter";
            font-style: italic;
            font-weight: 700;
            font-display: swap;
            src: url("https://webassets.iota.org/fonts/inter/Inter-BoldItalic.woff2?v=3.13") format("woff2"), url("https://webassets.iota.org/fonts/inter/Inter-BoldItalic.woff?v=3.13") format("woff");
        }

        @font-face {
            font-family: "Inter";
            font-style: normal;
            font-weight: 800;
            font-display: swap;
            src: url("https://webassets.iota.org/fonts/inter/Inter-ExtraBold.woff2?v=3.13") format("woff2"), url("https://webassets.iota.org/fonts/inter/Inter-ExtraBold.woff?v=3.13") format("woff");
        }

        @font-face {
            font-family: "Inter";
            font-style: italic;
            font-weight: 800;
            font-display: swap;
            src: url("https://webassets.iota.org/fonts/inter/Inter-ExtraBoldItalic.woff2?v=3.13") format("woff2"), url("https://webassets.iota.org/fonts/inter/Inter-ExtraBoldItalic.woff?v=3.13") format("woff");
        }

        @font-face {
            font-family: "Inter";
            font-style: normal;
            font-weight: 900;
            font-display: swap;
            src: url("https://webassets.iota.org/fonts/inter/Inter-Black.woff2?v=3.13") format("woff2"), url("https://webassets.iota.org/fonts/inter/Inter-Black.woff?v=3.13") format("woff");
        }

        @font-face {
            font-family: "Inter";
            font-style: italic;
            font-weight: 900;
            font-display: swap;
            src: url("https://webassets.iota.org/fonts/inter/Inter-BlackItalic.woff2?v=3.13") format("woff2"), url("https://webassets.iota.org/fonts/inter/Inter-BlackItalic.woff?v=3.13") format("woff");
        }

        @font-face {
            font-family: "Inter var";
            font-style: normal;
            font-weight: 100 900;
            font-display: swap;
            font-named-instance: "Regular";
            src: url("https://webassets.iota.org/fonts/inter/Inter-roman.var.woff2?v=3.13") format("woff2");
        }

        @font-face {
            font-family: "Inter var";
            font-style: italic;
            font-weight: 100 900;
            font-display: swap;
            font-named-instance: "Italic";
            src: url("https://webassets.iota.org/fonts/inter/Inter-italic.var.woff2?v=3.13") format("woff2");
        }

        @font-face {
            font-family: "Metropolis Regular";
            font-style: normal;
            font-weight: normal;
            src: url("https://webassets.iota.org/fonts/metropolis/Metropolis-Regular.woff2?v=11") format("woff2"), url("https://webassets.iota.org/fonts/metropolis/Metropolis-Regular.woff?v=11") format("woff");
        }

        @font-face {
            font-family: "Metropolis Regular Italic";
            font-style: normal;
            font-weight: normal;
            src: url("https://webassets.iota.org/fonts/metropolis/Metropolis-RegularItalic.woff2?v=11") format("woff2"), url("https://webassets.iota.org/fonts/metropolis/Metropolis-RegularItalic.woff?v=11") format("woff");
        }

        @font-face {
            font-family: "Metropolis Extra Light";
            font-style: normal;
            font-weight: normal;
            src: url("https://webassets.iota.org/fonts/metropolis/Metropolis-ExtraLight.woff2?v=11") format("woff2"), url("https://webassets.iota.org/fonts/metropolis/Metropolis-ExtraLight.woff?v=11") format("woff");
        }

        @font-face {
            font-family: "Metropolis Light";
            font-style: normal;
            font-weight: normal;
            src: url("https://webassets.iota.org/fonts/metropolis/Metropolis-Light.woff2?v=11") format("woff2"), url("https://webassets.iota.org/fonts/metropolis/Metropolis-Light.woff?v=11") format("woff");
        }

        @font-face {
            font-family: "Metropolis Thin";
            font-style: normal;
            font-weight: normal;
            src: url("https://webassets.iota.org/fonts/metropolis/Metropolis-Thin.woff2?v=11") format("woff2"), url("https://webassets.iota.org/fonts/metropolis/Metropolis-Thin.woff?v=11") format("woff");
        }

        @font-face {
            font-family: "Metropolis Extra Light Italic";
            font-style: normal;
            font-weight: normal;
            src: url("https://webassets.iota.org/fonts/metropolis/Metropolis-ExtraLightItalic.woff2?v=11") format("woff2"), url("https://webassets.iota.org/fonts/metropolis/Metropolis-ExtraLightItalic.woff?v=11") format("woff");
        }

        @font-face {
            font-family: "Metropolis Light Italic";
            font-style: normal;
            font-weight: normal;
            src: url("https://webassets.iota.org/fonts/metropolis/Metropolis-LightItalic.woff2?v=11") format("woff2"), url("https://webassets.iota.org/fonts/metropolis/Metropolis-LightItalic.woff?v=11") format("woff");
        }

        @font-face {
            font-family: "Metropolis Thin Italic";
            font-style: normal;
            font-weight: normal;
            src: url("https://webassets.iota.org/fonts/metropolis/Metropolis-ThinItalic.woff2?v=11") format("woff2"), url("https://webassets.iota.org/fonts/metropolis/Metropolis-ThinItalic.woff?v=11") format("woff");
        }

        @font-face {
            font-family: "Metropolis Medium";
            font-style: normal;
            font-weight: normal;
            src: url("https://webassets.iota.org/fonts/metropolis/Metropolis-Medium.woff2?v=11") format("woff2"), url("https://webassets.iota.org/fonts/metropolis/Metropolis-Medium.woff?v=11") format("woff");
        }

        @font-face {
            font-family: "Metropolis Semi Bold";
            font-style: normal;
            font-weight: normal;
            src: url("https://webassets.iota.org/fonts/metropolis/Metropolis-SemiBold.woff2?v=11") format("woff2"), url("https://webassets.iota.org/fonts/metropolis/Metropolis-SemiBold.woff?v=11") format("woff");
        }

        @font-face {
            font-family: "Metropolis Bold";
            font-style: normal;
            font-weight: normal;
            src: url("https://webassets.iota.org/fonts/metropolis/Metropolis-Bold.woff2?v=11") format("woff2"), url("https://webassets.iota.org/fonts/metropolis/Metropolis-Bold.woff?v=11") format("woff");
        }

        @font-face {
            font-family: "Metropolis Bold Italic";
            font-style: normal;
            font-weight: normal;
            src: url("https://webassets.iota.org/fonts/metropolis/Metropolis-BoldItalic.woff2?v=11") format("woff2"), url("https://webassets.iota.org/fonts/metropolis/Metropolis-BoldItalic.woff?v=11") format("woff");
        }

        @font-face {
            font-family: "Metropolis Medium Italic";
            font-style: normal;
            font-weight: normal;
            src: url("https://webassets.iota.org/fonts/metropolis/Metropolis-MediumItalic.woff2?v=11") format("woff2"), url("https://webassets.iota.org/fonts/metropolis/Metropolis-MediumItalic.woff?v=11") format("woff");
        }

        @font-face {
            font-family: "Metropolis Semi Bold Italic";
            font-style: normal;
            font-weight: normal;
            src: url("https://webassets.iota.org/fonts/metropolis/Metropolis-SemiBoldItalic.woff2?v=11") format("woff2"), url("https://webassets.iota.org/fonts/metropolis/Metropolis-SemiBoldItalic.woff?v=11") format("woff");
        }

        @font-face {
            font-family: "Metropolis Extra Bold";
            font-style: normal;
            font-weight: normal;
            src: url("https://webassets.iota.org/fonts/metropolis/Metropolis-ExtraBold.woff2?v=11") format("woff2"), url("https://webassets.iota.org/fonts/metropolis/Metropolis-ExtraBold.woff?v=11") format("woff");
        }

        @font-face {
            font-family: "Metropolis Extra Bold Italic";
            font-style: normal;
            font-weight: normal;
            src: url("https://webassets.iota.org/fonts/metropolis/Metropolis-ExtraBoldItalic.woff2?v=11") format("woff2"), url("https://webassets.iota.org/fonts/metropolis/Metropolis-ExtraBoldItalic.woff?v=11") format("woff");
        }

        @font-face {
            font-family: "Metropolis Black";
            font-style: normal;
            font-weight: normal;
            src: url("https://webassets.iota.org/fonts/metropolis/Metropolis-Black.woff2?v=11") format("woff2"), url("https://webassets.iota.org/fonts/metropolis/Metropolis-Black.woff?v=11") format("woff");
        }

        @font-face {
            font-family: "Metropolis Black Italic";
            font-style: normal;
            font-weight: normal;
            src: url("https://webassets.iota.org/fonts/metropolis/Metropolis-BlackItalic.woff2?v=11") format("woff2"), url("https://webassets.iota.org/fonts/metropolis/Metropolis-BlackItalic.woff?v=11") format("woff");
        }

            {
                {
                amp_style
            }
        }
    </style>

    {{!-- AMP Boilerplate --}}
    <style amp-boilerplate>
        body {
            -webkit-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
            -moz-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
            -ms-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
            animation: -amp-start 8s steps(1, end) 0s 1 normal both
        }

        @-webkit-keyframes -amp-start {
            from {
                visibility: hidden
            }

            to {
                visibility: visible
            }
        }

        @-moz-keyframes -amp-start {
            from {
                visibility: hidden
            }

            to {
                visibility: visible
            }
        }

        @-ms-keyframes -amp-start {
            from {
                visibility: hidden
            }

            to {
                visibility: visible
            }
        }

        @-o-keyframes -amp-start {
            from {
                visibility: hidden
            }

            to {
                visibility: visible
            }
        }

        @keyframes -amp-start {
            from {
                visibility: hidden
            }

            to {
                visibility: visible
            }
        }
    </style><noscript>
        <style amp-boilerplate>
            body {
                -webkit-animation: none;
                -moz-animation: none;
                -ms-animation: none;
                animation: none
            }
        </style>
    </noscript>
    <script async src="https://cdn.ampproject.org/v0.js"></script>

    {{amp_components}}

</head>

<body class="amp-template">
    {{#post}}
    <header class="page-header">
        <a href="{{@site.url}}">
            {{#if @site.icon}}
            <amp-img class="site-icon" src="{{img_url @site.icon absolute=" true"}}" width="25" height="25"
                layout="fixed"></amp-img>
            {{else}}
            {{@site.title}}
            {{/if}}
        </a>
    </header>
    {{#if feature_image}}
    <figure class="post-image">
        <amp-img src="{{img_url feature_image absolute=" true"}}" width="600" height="340" layout="responsive">
        </amp-img>
    </figure>

    {{/if}}
    <main class="content" role="main">
        <article class="post">
            <header class="post-header">
                <h1 class="post-title">{{title}}</h1>
                <section class="post-meta">
                    {{primary_author.name}} <span class="dot-separator">·</span>
                    <time class="post-date" datetime="{{date format=" YYYY-MM-DD"}}">{{date format="DD MMM
                        YYYY"}}</time>
                </section>
            </header>

            <section class="post-content">

                {{amp_content}}

            </section>

        </article>
    </main>
    {{/post}}
    <footer class="page-footer">
        {{#if @site.icon}}
        <amp-img class="site-icon" src="{{img_url @site.icon absolute=" true"}}" width="50" height="50" layout="fixed">
        </amp-img>
        {{/if}}
        <h3>{{@site.title}}</h3>
        {{#if @site.description}}
        <p>{{@site.description}}</p>
        {{/if}}
        <p><a href="{{@site.url}}">Read more posts →</a></p>
    </footer>
    {{amp_analytics}}
</body>

</html>